<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

<link rel="stylesheet" href="style3.css"> 
<!-- <link rel="stylesheet" href="fontawesome/css/all.css"> -->
<!-- <link rel="stylesheet" href="css/awesome/fontawesome.min.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=cyrillic,latin"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
<script defer src="javascript/vue.js"></script>
<script defer src="javascript/jsresume.js"></script>

<title>Резюме - Альбина Кашапова</title>
</head>
<body>
<div id="app">
  <div class="main-block"> 
    <div class="block-top">
    
      <div class="block-ava"><img :src="image" class="avatar" alt="Альбина">
      </div> 
        <div class="block-name">
            <span class="name"><h1>{{name}}</h1></span>
            <span class="professional">{{speciality}}</span>
        </div>
    </div>
    <div class="block-bottom">
      <div class="block-left">

        <div class = "skills">
          <h3 class = "contacts-title"><i class="fa fa-check"></i>навыки</h3>
          <skills-item
          v-for="item in skills" 
          :key="item.title"
          :skill="item"
          >
          </skills-item>
        </div>
        <div class="contacts">
          <h3 class = "contacts-title"><i class="fa fa-check"></i>контакты</h3>
          <contacts-item 
            v-for="item in contacts" 
            :key="item.id"
            :contact="item">
          </contacts-item>
        </div> 
      </div>   
        <div class="information">
            <div class="part-inf">
              <h3 class = "inf-title">отличия</h3>
                <differences-item
                v-for="item in differences"
                :best="item"
                :key="item.title"
                >
                </differences-item>
            </div>
            <div class="part-inf">
              <h3 class = "inf-title">опыт работы</h3>
              <job-item  
               v-for="item in jobs"
              v-bind:job="item"
               v-bind:key="item.id"
              ></job-item>
            </div>
            <div class="part-inf">
              <h3 class = "inf-title">образование</h3>
                <education-item
                 v-for="item in education" 
                :education="item"
                :key="item.title"
                >
                </education-item>
            </div>    
        </div>
    </div>
  </div> 
  
</div>

 
</body>
</html>