* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
height: 100%;
width: 100%;
font-size: 15px;
}

body {
display: flex;
justify-content: center;

}

.main-border {
width: 60rem;
display: flex;
justify-content: center;
border: 5px solid lightblue;
position: relative;
}

.block-contacts {
 height: 97%;
 width: 20rem;
 position: absolute;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: lightgrey;
 overflow-x: hidden;
 overflow-y: hidden;
 padding-top: 1rem; 
 margin: 1rem;
 display: flex;
 /*justify-content: center;*/
 /*flex-direction: column;*/
 flex-wrap: wrap;
 justify-content: center;
}

.avatar {
/*margin-right: 1rem;
margin-bottom: 1rem;*/
border: 5px solid lightblue;
border-radius:50%;
object-fit: cover;
width:12rem;
height: 12rem;
display: flex;
align-items: center;
justify-content: center;
}

.ava {
	height: 15rem;
	align-items: center;
}

.skills {
display: flex;
flex-direction: column;
justify-content: center;
width: 80%;
}

.contacts {
	display: flex;
	flex-direction: column;
}

.skills .skill {
	margin: 1rem 0;
display: flex;
flex: 1;
justify-content: space-between;
}

.skill .title {
margin-right: 0.5rem;
}

.contacts-title {
	border-bottom: 1px solid black;
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.fa{
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.contact-title{
	/*margin: 1rem 0;*/
	text-transform: uppercase;
	/*padding-left: 1rem*/
}

.part-contact {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 16rem;
	margin: 1rem 0;
}

.contact {
	/*padding-left: 3rem;*/
}

.main-information{
	/*display: flex;*/
	width: 60rem;
	flex-wrap: wrap;
	/*justify-content: flex-end;*/
}

.block-top {
background-color: black;
height: 20rem;
width: 100%;
display: flex;
align-items: center;
}

.block-name {
	/*display: flex;*/
	flex-wrap: wrap;
	position: absolute;
    right:0;
    margin-right: 8rem
}

.name {
    text-transform: uppercase;
    padding: 1rem;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	color: white;
}

.professional {
	color: white;
	display: flex;
	justify-content: center;

}

.main-inf-title {
	display: flex;
	justify-content: space-between;
}

.block-bottom {
	width: 100%;
	display: flex;
	background-color: grey;
	/*align-items: flex-start;*/
}

.inf-title {
	background-color: black;
	color: white;
	text-transform: uppercase;
	margin: 1rem 0;
	padding-left: 1rem;

}

.block-bottom-right {
	display: flex;
	position: absolute;
    right:0;
    width: 35rem;
    margin-right: 1.5rem;
    flex-wrap: wrap;
}

.main-inf {
	margin-bottom: 1rem;
}

.part-inf {
	width: 100%;
}